<p>
    <mat-toolbar>
        <span routerLink="home">TheMovieManiacs</span>
        <button mat-button routerLink="home" [routerLinkActive]="['isActive']">Home</button>
        <button mat-button routerLink="feature/view-todo" *ngIf="isLoggedIn" [routerLinkActive]="['isActive']">To
            Do</button>

        <span class="spacer"></span>
        <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="notif">
            <mat-icon class="material-icons-outlined" matBadge="{{(notifValue|async)?.length}}" matBadgeColor="primary">
                notifications</mat-icon>
        </button>

        <mat-menu #notif="matMenu">
            <button mat-menu-item *ngFor="let n of (notifValue | async)?.slice(0,3)">
                <mat-icon class="material-icons-outlined">{{n.notifIcon}}</mat-icon>
                <span class="notifDesc">{{n.notifDesc}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="common/notification">Show more notifications</button>
        </mat-menu>

        <button mat-button routerLink="common/login" *ngIf="!isLoggedIn"
            [routerLinkActive]="['isActive']">Login</button>
        <button mat-button routerLink="common/register" *ngIf="!isLoggedIn"
            [routerLinkActive]="['isActive']">Register</button>
        <button mat-button routerLink="admin" *ngIf="isLoggedIn" [routerLinkActive]="['isActive']">Admin</button>
        <button mat-button routerLink="common/profile" *ngIf="isLoggedIn"
            [routerLinkActive]="['isActive']">Profile</button>
        <button mat-button (click)="logout()" *ngIf="isLoggedIn" [routerLinkActive]="['isActive']">Logout</button>
    </mat-toolbar>
</p>