table {
    width: 75%;
}

.tableFlexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.searchFlex {
    display: flex;
    justify-content: space-between;
}