<div class="changePasswordFB">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <h1>Change Password</h1>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldPassword" type="password">
                <!-- <mat-icon matSuffix class="material-icons-outlined">account_circle</mat-icon> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password">
                <mat-hint style="color: red"
                    *ngIf="changePasswordForm.errors?.['samePassword'] && (changePasswordForm.touched || changePasswordForm.dirty)">
                    Old and
                    New Password should not match.
                </mat-hint>
                <!-- <mat-icon matSuffix class="material-icons-outlined">account_circle</mat-icon> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password">
                <mat-hint style="color: red"
                    *ngIf="changePasswordForm.errors?.['diffPassword'] && (changePasswordForm.touched || changePasswordForm.dirty)">
                    New and Confirm Password should match.</mat-hint>
                <!-- <mat-icon matSuffix class="material-icons-outlined">account_circle</mat-icon> -->
            </mat-form-field>
        </p>

        <p>
            <button mat-stroked-button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
        </p>

    </form>

</div>